<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${pants.englishName}">_offline_</title>
</head>
<body>

<h3 th:text="${pants.englishName}">Offline title</h3>

<p th:text="#{'description.' + ${pants.englishName}}">_phrase placeholder_</p>
<p th:if="${pants.englishName == 'Darkpants'}"> <a href="https://www.youtube.com/channel/UCuofQ9i9pxPQ64Ut25m8l-A" target="_blank">YouTube Channel</a></p>


<img th:src="@{{image}(image=${pic})}"/>

<a th:text="#{home.button}" th:href="'/home'">_home button_</a>

<div th:insert="~{template :: history(${his})}"></div>

</body>
</html>