<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title th:text="#{tab.title}">_offline_</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>

<div class="container">
    <div class="header">
    <h1 th:text="#{page.title}">Offline title</h1>
    <h4 th:text="#{page.subtitle}">Offline subtitle</h4>
    </div>
</div>

<div class="container">
    <table>
        <thead>
        <tr>
            <th>English Name</th>
            <th>Dutch Name</th>
            <th>Colour</th>
            <th>More Info</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pants:${allPants}">
            <td th:text="${pants.englishName}">_english name_</td>
            <td th:text="${pants.dutchName}">_dutch name_</td>
            <td th:text="${pants.colour}">_colour_</td>
            <td> <a th:text="#{info.button}" th:href="'/pants-details?pantsName=' + ${pants.englishName}">_more info button_</a></td>
        </tr>
        </tbody>
    </table>
</div>

<br>

<h2 th:text="'Welcome ' + ${user.name}"></h2>
<h3 th:text="'Your account email: ' + ${user.email}"></h3>
<h3 th:text="'Your Role: ' + ${user.role.name}"></h3>

<br>

<form action="login" method="get">
    <a th:href="'/login?logout'">logout</a>
</form>

<div th:insert="~{template :: history(${his})}"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>