<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="">_offline_</title>
</head>
<body>

<div th:fragment="history(his)">
    <ul>
        <li th:text="${his}"></li>
    </ul>
</div>

</body>
</html>